.BookTable{
  max-width: 960px;
  height: 600px;
  margin: auto;
}
.BookTable .searchTool{
  width: 700px;
  float: right;
  height: 100px;
  margin-top: 30px;
}

form{
  margin-left: 20px;
  margin: 0 auto;
  padding: 5px;
  float: right;
}
input,button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}
#f1 #i1{
  width: 400px;
  height: 23px;
}
#f1 #i2,#f1 button{
  width: 100px;
}
#f2 input, #f2 button,#f2 select{
  font-size: 14px;
}
select{
  size: 40px;
}
#min, #max{
  width:60px;
}
.BookTable .Category{
  margin-top: 70px;
  margin-right: 40px;
  margin-left: 10px;
  background-color: lightgrey;
  width: 170px;
  height: 200px;
  float: left;
}
.BookTable .Category ul{
  text-align: center;
  margin-right: 50px;
}
.BookTable .Category ul li{
  list-style: none;
  list-style-type: none;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  border-bottom-style: dotted;
  border-bottom-color: floralwhite;
  border-bottom-width: inherit;
  width: inherit;
}

.BookTable table {
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;
  float: right;

}
.BookTable td {
  border-top: 1px solid black;
  cursor: cell;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin:0 auto;
  text-align: center;
}


.BookTable th {
  cursor: pointer;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:20px;
}








